<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tech Watch Assignator</title>
</head>
<body>
    <%- include('partial/navbar') %>

    <h2>Next Tech Watch</h2>


    <%- include('partial/footer') %>
</body>
</html>