<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="navbar.css" />
    <link rel="stylesheet" href="footer.css" />
    <link rel="stylesheet" href="main.css" />
    <title>Student List</title>
  </head>
  <body>
    <%- include('partial/navbar') %>

    <h2>List of students</h2>

    <ul>
      <% for (var i = 0; i < studentArray.length ; i++) { %>
      <li><%= studentArray[i].name %></li>
      <% } %>
    </ul>


    <form action="/StudentsList" method="POST">
      <label for="name">Add student</label>
      <input type="text" name="name" />
      <button type="submit">Add student</button>
    </form>

    <form action="/StudentsList" method="DELETE">
      <label for="name">Delete student</label>
      <select name="name">
        <% for (var i = 0; i < studentArray.length ; i++) { %>
            <option><%= studentArray[i].name %></option>
            <% } %>
      </select>
      <button type="submit">Delete student</button>
    </form>

    <%- include('partial/footer') %>
  </body>
</html>
