
 footer {
    background-color: black;
    color: white;
    
    padding: 5px 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
    width: 100%;
    
   
 
  }
 
 
  #contact {
    display: flex;
    flex-direction:row ;
    justify-content: flex-end;
    margin: 1em 5em;

  }
 
  footer li {
    list-style: none;
  }

  #copy {
    margin: 1em 5em;

  }