<footer>
    <p>Copyright: Alban Meurice & Thomas Jamais</p>
    <p>Contact:
        <ul>
            <li>korvin.meurice@gmail.com</li>
            <li>thomas.jamais95@gmail.com</li>
        </ul>
    </p>
    
</footer>