<footer>
    <p id="copy">Copyright: Alban Meurice & Thomas Jamais</p>

    <div id="contact">
    <p>Contact:
        <ul>
            <li>korvin.meurice@gmail.com</li>
            <li>thomas.jamais95@gmail.com</li>
        </ul>
    </p>
    </div>
    
</footer>