<header>
    <h1>My Tech-watch Assignator</h1>
</header>
<nav>
    <div class="topnav">
      <a href="#">Group Generator</a>
      <a href="http://localhost:3000/home">Home</a>
      <a href="http://localhost:3000/StudentsList">Students List</a>
      <a href="http://localhost:3000/StudentsList">History Tech- Watch</a>
      <a href="http://localhost:3000/Groups">Tech Watch Assignation</a>
    </div>
  </nav>