<div>
  <h1 class="title">Next-Tech-Watch</h1>
  <div class="container">
    <h3 class="container_title">Base de données relationnelles SQL</h3>
    <div class="container_student">
      <h5>Student Affiliate:</h5>
      <p>Hakim --- Camille</p>
    </div>
    <div class="container_date">
      <h5>When:</h5>
      <p>Thursday 21 June</p>
    </div>
  </div>
</div>
